@import url("./../nav-bar/nav-bar.style.css");
@import url("./../store-page/store-page.style.css");
@import url("./../shopping-cart-page/shopping-cart-page.style.css");

html, body {
  height: 100%;
  margin: 0;
}

body .row, .col-xs-3, .shopping-cart-page {
    height: 100%;
}

body .btn {
    font-size: 18px;
}
